In [2]:
# add the panda dependency
import pandas as pd

In [9]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [10]:
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [12]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [13]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [17]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [25]:
# Initialize a new data frame
schools_df = pd.DataFrame()

# add the list to a new data frame
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

# print
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [30]:
high_schools_dict = {'School ID': school_id, 'School Name': school_name, 'Type': type_of_school}

high_school_dicts_df = pd.DataFrame(high_schools_dict)

high_school_dicts_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [5]:
# initialize skill drill data frame
skill_drill_df = pd.DataFrame() 

# create skill drill lists
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

names = ["adelyn", "aeva", "adeline", "lucy", "lucie", "adian", "adrian", "cameron", "jace", "addie"]

type = ["f", "f", "f", "f", "f", "m", "uni", "uni", "uni", "f"]

# add list to data frame
skill_drill_df["Number"] = numbers
skill_drill_df["Names"] = names
skill_drill_df["Type"] = type

# print
skill_drill_df

   Number    Names Type
0       1   adelyn    f
1       2     aeva    f
2       3  adeline    f
3       4     lucy    f
4       5    lucie    f
5       6    adian    m
6       7   adrian  uni
7       8  cameron  uni
8       9     jace  uni
9      10    addie    f

In [4]:
# list of high schools
# high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
# for school in high_schools:
#     print(school)

In [2]:
# dictionary of high schools and the type of school
# high_school_types = [{"High School": "Griffin", "Type": "District"},
#                      {"High School": "Figueroa", "Type": "District"},
#                      {"High School": "Wilson", "Type": "Charter"},
#                      {"High School": "Wright", "Type": "Charter"}] 

# for school in high_school_types:
#     print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}